.form {
    padding: 0 22px 0 18px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #EC615B;
    border: none;
}
.form__input {
    padding: 9px 34px;
    margin: 0;
    margin-bottom: 23px;
}
.form__button {
    margin-bottom: 55px;
}
.form__button:hover {
    margin-bottom: 53px;
    border: 1px solid #5222D0;
}
.form__button {
    width: 135px;
}