.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header__button {
    padding: 0 14px 0 16px;
}
.header--opps {
    margin-bottom: 90px;
    margin-right: 37px;
}