.main-opps__title {
    margin: 0;
    margin-left: 37px;
    margin-bottom: 14px;
    padding: 0;
}
.main-opps__list {
    margin: 0;
    margin-bottom: 86px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    grid-template-rows: repeat(2fr 1fr);
    list-style-type: none;
}
