.main__container {
    display: flex;
    flex-grow: 1;
}
.main__container-text {
    margin: 0;
    padding: 0;
    max-width: 542px;
    padding-top: 76px;
}
.main__text {
    margin: 10px 44px 30px 0;
    padding: 0;
}
.main__button {
    padding: 28px 32px 21px 33px;
    margin: 0;
    margin-bottom: 146px;
    font-size: 35px;
}