body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}
.header {
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: grey;
}
.header-text {
    margin: 0 auto;
    padding: 20px 600px;
    text-align: center;
}
.main {
    display: flex;
    flex-grow: 1;
    margin: 0;
    background-color: antiquewhite;
}
.main-container {
    width: 100%;
}
.main-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-section {
    margin: 0;
    margin-bottom: 50px;
    padding: 50px;
    width: 40%;
    text-align: center;
    background-color: bisque;
}
.section-text {
    margin: 0;
    padding: 0;
}
.section-large {
    width: 90%;
}
.main-text {
    margin: 0;
    margin-bottom: 200px;
    padding: 50px 100px;
    text-align: center;
}
.side-bar {
    margin: 0;
    padding: 20px 0;
    width: 600px;
    background-color: darkseagreen;
}
.side-text {
    text-align: center;
}
.footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0;
    padding: 40px 20px;
    background-color: gray;
}
.footer-section {
    margin: 0 ;
    padding: 40px 80px;
    background-color: white;
}
.footer-text {
    margin: 0;
    padding: 0;
}