body {
    display: block;
    margin: 0 auto;
    font-family: 'Syncopate', sans-serif;
    font-size: 46px;
    background: linear-gradient(90deg, rgb(170, 229, 169) 0%, rgb(139, 102, 241) 100%);
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 6rem;
    background-color: rgba(218, 208, 242, 0.2);
    border: 1px solid #9b9b9b;
    border-radius: 10px;
}

.quote-container__quote {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    font-size: 46px;
}

.quote-container__author {
    font-size: 36px;
    margin-bottom: 2rem;
}

.quote-container__button {
    padding: 1rem 2rem;
    background-color: #eeeaf9;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.quote-container__button:hover {
    background-color: #dad0f2;
}