* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2rem;
}

p {
    padding: 1rem 0;
}

span {
    font-weight: bold;
}

.heroes-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
}

.hero-card {
   max-width: 25%;
   height: 70%;
   padding: 2rem;
   margin: 0.5rem;
   border: 1px solid darkgray;
   border-radius: 2rem;
   background-color: aliceblue;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.rating__button {
    padding: 0.2rem 0.5rem;
    background-color: azure;
    border: 1px solid darkgray;
    border-radius: 2rem;
}

.rating__button:hover {
    background-color: lightgray;
}